.section_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

.section_container > div {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border: 4px solid rgb(157, 98, 187);
    font-weight: 500;
    min-width: 180px;
    max-width: 180px;
    margin: 25px;
    height: 130px;
    padding-top: 9px;
    padding-bottom: 6px;
    align-items: center;
    /* box-shadow: h-shadow v-shadow blur spread color */
    box-shadow: 2px 3px 5px 0 rgb(104, 99, 99);
}

.skill_container > div:last-child {
    margin-top: 10px;
}

.outside_container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

@media (max-width: 290px) {
    .section_container > div {
        min-width: calc(100vw - 110px);
    }
}

@media (max-width: 190px) {
    .section_container {
        font-size: calc(1vw * 7);
    }
}

.html {
    background-image: url("../skills_photos/html.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.javascript {
    background-image: url("../skills_photos/js.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.css {
    background-image: url("../skills_photos/css.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.express {
    background-image: url("../skills_photos/express.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.node {
    background-image: url("../skills_photos/nodejs.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.react {
    background-image: url("../skills_photos/react.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.redux {
    background-image: url("../skills_photos/redux.webp");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.git {
    background-image: url("../skills_photos/git.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.webpack {
    background-image: url("../skills_photos/webpack.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.vsscode {
    background-image: url("../skills_photos/vsscode.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.restful {
    background-image: url("../skills_photos/rest.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.mongoose {
    background-image: url("../skills_photos/mongoose.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}
