body::before {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: #ffffff;
    transform: skewY(-3deg);
}

/* body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #dfb4b4;
} */
