@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: my-custom-font;
    src: url(../fonts/Heebo-VariableFont_wght.ttf);
}
@font-face {
    font-family: my-custom-font2;
    src: url(../fonts/Kanit-Medium.ttf);
}
@font-face {
    font-family: my-custom-font3;
    src: url(../fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: my-custom-font4;
    src: url(../fonts/SecularOne-Regular.ttf);
}
@font-face {
    font-family: my-custom-font5;
    src: url(../fonts/Inter-VariableFont_slnt_wght.ttf);
}

h1 {
    background: linear-gradient(141deg, #969699, #1e1e22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    /* font-family: my-custom-font2; */
    font-family: my-custom-font5;
    font-weight: 700;
    margin-top: 20px;
}

h2 {
    margin-top: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#particle-container {
    width: 1000px;
    height: 500px;
}

.particle1 {
    position: absolute;
    top: 150px;
    right: 190px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #323235;
    opacity: 0.4;
}
.particle2 {
    position: absolute;
    top: 284px;
    right: 839px;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background-color: #323235;
    opacity: 0.3;
}

.particle3 {
    position: absolute;
    top: 160px;
    right: 895px;
    width: 13px;
    height: 13px;
    border-radius: 2px;
    background-color: #323235;
    opacity: 0.4;
}

.particle4 {
    position: absolute;
    top: 120px;
    right: 595px;
    width: 21px;
    height: 21px;
    border-radius: 7px;
    background-color: #000;
    opacity: 0.2;
}
.particle5 {
    position: absolute;
    top: 320px;
    right: 630px;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #323235;
    opacity: 0.2;
}

.particle6 {
    position: absolute;
    top: 380px;
    right: 350px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #323235;
    opacity: 0.2;
}

.particle7 {
    position: absolute;
    top: 335px;
    right: 110px;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #323235;
    opacity: 0.2;
}

.particle8 {
    position: absolute;
    top: 185px;
    right: 80px;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: #323235;
    opacity: 0.15;
}

.activion {
    color: red;
}
