@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: my-custom-font;
    src: url(../fonts/Heebo-VariableFont_wght.ttf);
}
@font-face {
    font-family: my-custom-font2;
    src: url(../fonts/Kanit-Medium.ttf);
}
@font-face {
    font-family: my-custom-font3;
    src: url(../fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: my-custom-font4;
    src: url(../fonts/SecularOne-Regular.ttf);
}
@font-face {
    font-family: my-custom-font5;
    src: url(../fonts/Inter-VariableFont_slnt_wght.ttf);
}

h1 {
    background: linear-gradient(141deg, #969699, #1e1e22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    /* font-family: my-custom-font2; */
    font-family: my-custom-font5;
    font-weight: 700;
    margin-top: 20px;
}

h2 {
    font-size: 1.6em;
}

#h1_container {
    display: flex;
    max-width: calc(95vw);

    text-align: center;
}

.home_h1 {
    background: linear-gradient(141deg, #969699, #1e1e22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    /* font-family: my-custom-font2; */
    font-family: my-custom-font5;
    font-weight: 700;
    margin-top: 20px;
    transform: translateX(-40px);
    opacity: 0;
    transition: opacity 1.5s, transform 1.5s;
}

.home_h1.visible {
    opacity: 1;
    transform: translateX(0px);
}

h2 {
    margin-top: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.project_container_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 160px 0px;
    max-width: 100vw;
    height: 550px;

    background: linear-gradient(30deg, #ebebeb 0%, rgb(236, 236, 236) 100%);
    /* background: linear-gradient(30deg, #0a0a0a 0%, rgb(3, 3, 3) 100%); */
    padding: 5px 20% 25px 20%;
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
}

.project_outside {
    filter: drop-shadow(-1px 3px 5px rgba(49, 43, 43, 0.349));
}
.project_outside.darkModeFilter {
    filter: drop-shadow(-1px 3px 5px rgba(11, 20, 44, 0.349)) !important;
}

.about-header {
    font-size: 3em;
    font-weight: 500;
    font-family: my-custom-font4;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-50%);
    transition: transform 1s, opacity 1s;
}
.about-header.visible {
    opacity: 1;
    transform: translateX(0);
}

.about_description {
    font-family: my-custom-font5;
    opacity: 0;
    transform: translateX(-30%);
    transition: transform 1s, opacity 1s;
}
.about_description.visible {
    opacity: 1;
    transform: translateX(0);
}

#particle-container {
    width: 1000px;
    height: calc(100vh - 80px - 30px);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.particle1 {
    position: absolute;
    top: 320px;
    right: 190px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: #323235;
    opacity: 0.4;
}
.particle2 {
    position: absolute;
    top: 540px;
    right: 869px;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    background-color: #323235;
    opacity: 0.3;
}

.particle3 {
    position: absolute;
    top: 340px;
    right: 925px;
    width: 13px;
    height: 13px;
    border-radius: 3px;
    background-color: #323235;
    opacity: 0.4;
}

.particle4 {
    position: absolute;
    top: 280px;
    right: 595px;
    width: 21px;
    height: 21px;
    border-radius: 7px;
    background-color: #000;
    opacity: 0.2;
}
.particle5 {
    position: absolute;
    top: 510px;
    right: 665px;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: #323235;
    opacity: 0.2;
}

.particle6 {
    position: absolute;
    top: 600px;
    right: 350px;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    background-color: #323235;
    opacity: 0.2;
}

.particle7 {
    position: absolute;
    top: 535px;
    right: 80px;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    background-color: #323235;
    opacity: 0.3;
}

.particle8 {
    position: absolute;
    top: 355px;
    right: 40px;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background-color: #323235;
    opacity: 0.15;
}

.activion {
    color: red;
}

@media (width <= 1300px) {
    .project_container_about {
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media (width <= 1080px) {
    .project_container_about {
        clip-path: none;
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (width <= 515px) {
    .about-header {
        font-size: 8vw;
    }
    .about_description {
        font-size: 3vw;
    }
    /* #particle-container {
        height: 10vh !important;
    } */
}
@media (width <= 388px) {
    .about-header {
        font-size: 1.9em;
    }
    .about_description {
        font-size: 3vw;
    }
}
@media (width <= 373px) {
    .about_description {
        font-size: 0.7em;
    }
}
@media (width <= 215px) {
    .about_description {
        font-size: 5vw;
    }
}
@media (width <= 192px) {
    .about_description {
        font-size: 0.6em;
    }
}
@media (width < 150px) {
    .about_description {
        font-size: 5vw;
    }
}
@media (width < 120px) {
    .about_description {
        font-size: 0.3em;
    }
}

/* / */

@media (max-width: 620px) {
    #home_h1_id {
        font-size: 10vw;
    }
    #home_h2_id {
        font-size: 4vw;
    }
}

@media (max-width: 515px) {
    #home_h2_id {
        margin-top: 7px;
    }
}

@media (max-width: 310px) {
    #home_h1_id {
        font-size: 1.9em;
    }
    #home_h2_id {
        font-size: 0.8em;
        margin-top: 4px;
    }
}

@media (max-width: 285px) {
    #home_h1_id {
        font-size: 10vw;
    }
    #home_h2_id {
        font-size: 5vw;
    }
}

@media (max-width: 200px) {
    #home_h2_id {
        font-size: 0.6em;
    }
}

@media (max-width: 149px) {
    #home_h1_id {
        font-size: 0.9em;
    }
    #home_h2_id {
        font-size: 0.1em;
    }
}
