.home {
    height: 100vh;
    background-image: url("../pic.png");
    background-size: cover;
    background-position: right center;
    overflow: hidden;
    color: aliceblue;
}

.home * {
    box-sizing: border-box;
}

.home header {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 280px;
}

.home header > * {
    margin-left: 80px;
}

.active {
    background-color: red;
}

@media (max-width: 1300px) {
    .home header {
        padding-right: 150px;
    }
}

@media (max-width: 1000px) {
    .home header {
        padding-left: 50px;
        padding-right: 75px;
    }
}

@media (max-width: 768px) {
    .home header {
        justify-content: space-evenly;
        padding: 0px;
    }
    .home header > * {
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .home header {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.home footer {
    background-color: rgb(52, 4, 61);
    height: 50px;
    width: 100%;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
}
