@font-face {
    font-family: my-custom-font;
    src: url(../fonts/Heebo-VariableFont_wght.ttf);
}
@font-face {
    font-family: my-custom-font2;
    src: url(../fonts/Kanit-Medium.ttf);
}
@font-face {
    font-family: my-custom-font3;
    src: url(../fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: my-custom-font4;
    src: url(../fonts/SecularOne-Regular.ttf);
}
@font-face {
    font-family: my-custom-font5;
    src: url(../fonts/Inter-VariableFont_slnt_wght.ttf);
}

.home {
    min-height: 100vh;
    height: 100%;
    /* background-image: url("../pic.png"); */
    background-size: cover;
    background-position: right center;
    /* background image fixed so it doesnt try to fit scrollable content */
    background-attachment: fixed;
    overflow: auto;
    /* color: aliceblue; */
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

body {
    position: relative;
    /* background: linear-gradient(to right, #916181 0%, #9b5353 100%); */
}

main {
    overflow: hidden;
    flex: 1;
}

h2 {
    font-size: 1.6em;
}

.default,
.active {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    font-weight: 500;
    z-index: 10;
    cursor: pointer;
}

.default::after,
.active::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -3px;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
    z-index: 10;
}

.default:hover::after,
.active::after {
    transform: scaleX(1);
    z-index: 10;
}

.home {
    overflow: hidden;
}

.home * {
    box-sizing: border-box;
}

.home header {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    padding-right: 250px;
}

.header_container {
    transform: translateY(-65px);
    transition: transform 600ms;
}

.header_container {
    z-index: 1100;
}

.header_container.transitioned {
    transform: translateY(0);
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
}

.home header > * {
    margin-left: 60px;
}

header a {
    font-size: 1.1em;
    margin-top: 5px;
}

.header_visible {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: relative;
}

.dropdown_logo {
    display: none;
    cursor: pointer;
}

.dropdown ul {
    list-style: none;
}

.dropdown ul li {
    margin-bottom: 10px;
    z-index: 50;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 220px;
    background-color: aliceblue;
    box-shadow: 0 4px 10px 0 rgba(92, 92, 92, 0.39);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.dropdown_container {
    display: none;
    align-self: flex-end;
    background-color: #ffffff;
    padding: 19px 17px 19px 17px;
    left: 10px;
    border-radius: 50px;
    color: black;
    transition: transform 0.3s, padding 0.3s;
    cursor: pointer;
    box-sizing: border-box;
}

.dark_mode_container {
    display: block;
    position: absolute;
    align-self: flex-end;
    padding: 19px 19px 19px 19px;
    right: 0;
    border-radius: 50px;
    color: black;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.233);
    transform: rotateY(0deg);
    transition: transform 0.4s, padding 0.3s;
    margin-top: 15px;
    margin-right: 25px;
    z-index: 12;
}

.dark_mode_container.dark_mode_active {
    transform: rotateY(180deg) !important;
}

.dark_mode_logo {
    cursor: pointer;
}

.dropdown_container:hover {
    padding: 18px 16px 18px 16px;
    transform: scale(0.95); /* Reduce the scale on hover */
}

.dark_mode_container:hover {
    padding: 18px;
    transform: scale(0.98); /* Reduce the scale on hover */
}

#active {
    display: none;
}

@media (max-width: 756px) {
    .home header {
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        padding-right: 70px;
    }
}
@media (max-width: 620px) {
    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 4vw;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-240px);
    }
    to {
        transform: translateY(0px);
    }
}

@media (max-width: 515px) {
    .dropdown li a {
        color: black;
        font-size: 1.5em;
    }
    li a div {
        margin-bottom: 5px;
    }

    h2 {
        margin-top: 7px;
    }
    .dropdown {
        display: flex;
        z-index: 20;
        animation: slideIn 500ms;
        justify-content: center;
        transition: transform 0.4s;
    }
    .dropdown.closing {
        transform: translateY(-240px);
    }
    .dropdown_container {
        display: block;
        position: absolute;
        box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.233);
        margin-top: 10px;
        margin-right: 12px;
    }

    .dropdown_logo {
        width: 20px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .line {
        height: 2px;
        background-color: rgb(0, 0, 0);
    }

    .closeBtnContainer {
        content: "";
        border-radius: 7px;
        width: 35px;
        height: 35px;
        top: 7px;
        right: 19px;
        position: absolute;
        cursor: pointer;
        margin: 0px;
    }
    .closeBtnContainer:hover {
        background-color: rgba(221, 221, 221, 0.473);
    }

    .closeBtn::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 2px;
        height: 25px;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;

        cursor: pointer;
        z-index: 1000;
    }

    .closeBtn::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 2px;
        height: 25px;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        cursor: pointer;
    }

    .header_visible {
        display: none;
    }

    .default::after,
    .active::after {
        background-color: rgb(0, 0, 0);
    }

    .default,
    .active {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
}

@media (max-width: 480px) {
    .home header {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 310px) {
    h1 {
        font-size: 1.9em;
    }
    h2 {
        font-size: 0.8em;
        margin-top: 4px;
    }
}
@media (max-width: 286px) {
    .home .footer {
        font-size: 5vw;
    }
    .dropdown li a {
        color: black;
        font-size: 8vw;
    }
}
@media (max-width: 285px) {
    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 5vw;
    }
}
@media (max-width: 200px) {
    h2 {
        font-size: 0.6em;
    }
}
@media (max-width: 165px) {
    .dark_mode_container {
        margin-top: 10px;
        margin-right: 20px;
    }
}
@media (max-width: 149px) {
    h1 {
        font-size: 0.9em;
    }
    h2 {
        font-size: 0.1em;
    }
}

@media (max-width: 145px) {
    .home .footer {
        font-size: 0.5em;
    }
    .dropdown_container {
        padding: 9px;
    }
    .dark_mode_container {
        padding: 10px;
    }
    .dropdown_container:hover {
        padding: 9px;
        transform: scale(0.95); /* Reduce the scale on hover */
    }
    .dropdown_logo {
        width: 11px;
        height: 9px;
    }
    .line {
        height: 1px;
    }
    .sun_container,
    .moon_container {
        font-size: 0.5em;
    }
}
@media (max-width: 110px) {
    .dropdown_container {
        padding: 9px 7px 9px 7px;
    }
    .dark_mode_container {
        padding: 8px;
    }

    .dropdown_logo {
        width: 9px;
        height: 6px;
    }
}
@media (max-width: 80px) {
    .dropdown_container {
        padding: 7px 5px 7px 5px;
    }
    .dark_mode_container {
        padding: 6px;
    }
}
@media (max-width: 75px) {
    .dropdown_container {
        padding: 7px 5px 7px 5px;
        margin: 1px;
        left: 0;
    }
    .dark_mode_container {
        margin: 1px;
    }
}

@media (max-width: 40px) {
    .dropdown_container {
        padding: 4px 2px 4px 2px;
    }
    .dark_mode_container {
        padding: 4px;
    }
    .sun_container,
    .moon_container {
        font-size: 0.3em;
    }
    .dropdown_logo {
        width: 8px;
        height: 5px;
    }
}

.home .footer {
    display: flex;
    background-color: rgb(228, 224, 224);
    height: 50px;
    width: 100%;
    align-items: center;
    position: sticky;
    bottom: 0;
    padding: 26px;
    color: rgb(0, 0, 0);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

.left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-left: calc(100% / 10);
}

.right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: calc(100% / 30);
}

.github_link {
    display: flex;
    background-image: url("../skills_photos/github.png");
    background-size: cover;
    background-position: center center;
    height: 24px;
    width: 23px;
    cursor: pointer;
}

.github_link.dark_github {
    background-image: url("../skills_photos/git_black.png");
}

.linkedin_link {
    display: flex;
    background-image: url("../skills_photos/link.png");
    fill: white;
    background-size: cover;
    background-position: center center;
    height: 23px;
    width: 23px;
    cursor: pointer;
}

.white_linkedin {
    background-image: url("../skills_photos/white_linkedin.png");
}

.github_container {
    margin-right: 15px;
}
