:root {
    --box-shadow-color: rgba(138, 136, 136, 0.8);
}
@font-face {
    font-family: my-custom-font;
    src: url(../fonts/Heebo-VariableFont_wght.ttf);
}
@font-face {
    font-family: my-custom-font2;
    src: url(../fonts/Kanit-Medium.ttf);
}
@font-face {
    font-family: my-custom-font3;
    src: url(../fonts/PressStart2P-Regular.ttf);
}
@font-face {
    font-family: my-custom-font4;
    src: url(../fonts/SecularOne-Regular.ttf);
}
@font-face {
    font-family: my-custom-font5;
    src: url(../fonts/Inter-VariableFont_slnt_wght.ttf);
}

.title {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.projects_h3_class {
    background: linear-gradient(90deg, #888787, #1e1e22);
}

#projects_h3 {
    font-size: 3em;
    font-family: my-custom-font5;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transition: opacity 1s;
    margin-bottom: 10px;
}
#projects_h3.visible {
    opacity: 1;
}

.tools_container {
    display: flex;
    max-width: 255px;
    flex-wrap: wrap;
}

.project_container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* border: px solid rgb(199, 199, 199); */
    background: linear-gradient(
        161deg,
        rgba(255, 255, 255, 1) 0%,
        #eeeded 100%
    );
    border-radius: 10px;
    align-items: center;
    max-width: 390px;
    /* box-shadow: 10px 17px 10px 0 rgba(255, 255, 255, 0.5),
        -15px 0px 10px 0 rgba(255, 255, 255, 0.5),
        inset 15px 0px 10px 0 rgba(0, 0, 0, 0.5); */

    /* box-shadow: h-shadow v-shadow blur spread color */
    box-shadow: 2px 2px 15px 2px rgb(209, 205, 205);
    padding: 5px 5px 60px 5px;

    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s, transform 1s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.project_container:hover:not(:hover) {
    transition: transform 500ms;
}

.project_container:hover {
    transform: scale(1.03);
    transition: transform 500ms;
}

.btn {
    display: flex;
    position: relative;
    /* background-color: aliceblue; */
    background-color: rgb(245, 245, 245);
    border-radius: 7px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 5px 20px;
    align-items: flex-start;
    max-width: 112px;
    text-decoration: none;
    font-family: my-custom-font2;
    box-shadow: 1px 1px 8px 0px rgb(207, 207, 207);
    margin-top: 10px;
}

.btnSourceCode {
    display: flex;
    position: relative;
    /* background-color: aliceblue; */
    background-color: rgb(245, 245, 245);
    border-radius: 7px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 5px 20px;
    align-items: flex-start;
    max-width: 143px;
    text-decoration: none;
    font-family: my-custom-font2;
    box-shadow: 1px 1px 8px 0px rgb(207, 207, 207);
    margin-top: 10px;
    margin-left: 10px;
}

.btnSourceCode:hover {
    background-color: rgb(240, 240, 240);
}

.btn:hover {
    background-color: rgb(240, 240, 240);
}

.project_text {
    position: relative;
}

.project_description {
    font-size: 0.9em;
    padding: 20px;
}

.description {
    color: rgb(0, 0, 0);
    font-size: 1.6em;
    font-family: my-custom-font5;
    font-weight: bold;
    margin-bottom: 12px;
}
.descriptionSmall {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    font-family: my-custom-font5;
    font-weight: bold;
    margin-bottom: 12px;
}

.project_section {
    display: flex;
    flex-wrap: wrap;
    /* flex-grow, flex-shrink, flex-basis */
    flex: 0 0 80%;
    padding: 10px;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}

.project_section > div > :first-child {
    position: relative;
    /* flex-grow, flex-shrink, flex-basis */
    /* min-width: 340px;
    min-height: 440px; */
    flex: 0 0 40%;
    /* min-width: 340px;
    min-height: 200px; */
    margin: 33px 33px 10px 33px;
}

@media (max-width: 550px) {
    .button {
        bottom: -65px;
        padding: 6px 17px;
        font-size: 0.8em;
    }

    h1 {
        font-size: 11vw;
    }
    h2 {
        font-size: 4.3vw;
    }

    .project_section > div > :first-child::after {
        height: 65px;
        bottom: -65x;
    }

    .project_section > div > :first-child {
        flex-shrink: 1;
        max-width: 100%;
        min-width: calc(100vw - 220px);
        min-height: calc(100vw / 2 + 40px);
        flex-basis: 100%;
        font-size: 3vw;
    }
}

@media (max-width: 460px) {
    .description {
        font-size: 1.1em;
    }
}
@media (max-width: 435px) {
    .project_section > div > :first-child {
        flex-shrink: 1;
        max-width: 100%;
        min-width: 210px;
        min-height: 250px;
        flex-basis: 100%;
        font-size: 3vw;
    }
}
@media (max-width: 415px) {
    h2 {
        font-size: 1.1em;
    }
}
@media (max-width: 340px) {
    h2 {
        font-size: 5vw;
    }
    #projects_h3 {
        font-size: 12vw;
    }
}
@media (max-width: 210px) {
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 0.7em;
    }
    #projects_h3 {
        font-size: 1.5em;
    }
}

@media (max-width: 328px) {
    .project_container {
        width: calc(100vw - 45px);
    }
    .project_section > div > :first-child {
        flex-shrink: 1;
        max-width: 100%;
        min-width: calc(100% - 70px);
        min-height: 250px;
        flex-basis: 100%;
        font-size: 3vw;
    }
}
@media (max-width: 308px) {
    .project_container {
        width: calc(100vw - 45px);
    }
    .project_section > div > :first-child {
        flex-shrink: 1;
        max-width: 100%;
        min-width: 180px;
        min-height: 250px;
        flex-basis: 100%;
        font-size: 3vw;
    }
}
@media (max-width: 242px) {
    .project_container {
        min-width: 190px;
    }
}

.rock {
    background-image: url("../photos/rock.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px 1px var(--box-shadow-color);
    min-width: 320px;
    min-height: 320px;
}

.calc {
    background-image: url("../photos/calc.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px 1px var(--box-shadow-color);
    min-width: 310px;
    min-height: 300px;
}

.todo {
    background-image: url("../photos/todo.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px 1px var(--box-shadow-color);
    min-width: 320px;
    min-height: 320px;
}

.tic_tac {
    background-image: url("../photos/tictactoe.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px 1px var(--box-shadow-color);
    min-width: 310px;
    min-height: 320px;
}

.charades {
    background-image: url("../photos/charades.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px 1px var(--box-shadow-color);
    min-width: 320px;
    min-height: 320px;
}

.spotify_yt {
    background-image: url("../photos/spotify_yt.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 10px 1px var(--box-shadow-color);
    min-width: 310px;
    min-height: 320px;
}
